{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Forgot your password?</h1>

    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger">{{ flash_error }}</div>
    {% endfor %}

    <form method="post" action="{{ path('app_forgot_password') }}">
        <div class="form-group mb-3">
            <label for="email">Enter your Email</label>
            <input type="email" name="email" id="email" class="form-control" required autofocus>
        </div>

        <button class="btn btn-primary" type="submit">Send SMS Code</button>
    </form>

    <br>
    <a href="{{ path('app_login') }}" class="btn btn-link">Back to Login</a>
</div>
{% endblock %}