/* Formulaire de connexion */
.form-container {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, #cccccc, 10, 0, 0, 0);
}

/* Style des champs de texte */
.text-field, .password-field {
    -fx-pref-width: 250px;
    -fx-pref-height: 35px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-padding: 5px;
}

/* Boutons de connexion et inscription */
.login-button, .signup-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
}

.login-button:hover, .signup-button:hover {
    -fx-background-color: #0056b3;
}

/* Lien mot de passe oublié */
.forgot-password {
    -fx-font-size: 14px;
    -fx-text-fill: #007bff;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

/* Support FAQ */
.support-faq {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

.show-password-button {
}