{% extends 'base.html.twig' %}

{% block title %}Créer un compte Admin{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">Créer votre compte Admin</h2>

    <form method="post">
        <div class="mb-3">
            <label>Email</label>
            <input type="email" value="{{ email }}" disabled class="form-control">
        </div>

        <div class="mb-3">
            <label>Nom</label>
            <input type="text" name="nom" required class="form-control">
        </div>

        <div class="mb-3">
            <label>Prénom</label>
            <input type="text" name="prenom" required class="form-control">
        </div>

        <div class="mb-3">
            <label>Téléphone</label>
            <input type="text" name="telephone" required class="form-control">
        </div>

        <div class="mb-3">
            <label>Adresse</label>
            <input type="text" name="adresse" required class="form-control">
        </div>

        <div class="mb-3">
            <label>Mot de passe</label>
            <input type="password" name="password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary w-100">Créer le compte Admin</button>
    </form>
</div>
{% endblock %}
