<form method="post" action="{{ path('app_espace_delete', {'idEspace': espace.idEspace}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ espace.idEspace) }}">
    <button class="btn">Delete</button>
</form>
