{% extends 'base.html.twig' %}
{% block title %}Liste des Réservations{% endblock %}

{% block body %}
<h2 class="text-center my-4">Liste des Réservations</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nom complet</th>
      <th>Date début</th>
      <th>Date fin</th>
      <th>ID Espace</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reservations %}
      <tr>
        <td>{{ r.nom_complet }}</td>
        <td>{{ r.date_debut }}</td>
        <td>{{ r.date_fin }}</td>
        <td>{{ r.id_espace }}</td>
      </tr>
    {% else %}
      <tr><td colspan="4" class="text-center text-muted">Aucune réservation trouvée</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
