<form method="post" action="{{ path('app_organisateur_delete', {'id_org': organisateur.id_org}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organisateur.id_org) }}">
    <button class="btn">Delete</button>
</form>
